{% extends "layout.html" %}

{% block title %}ALTER TABLE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div>
    <form id="alter_table_form" action="/{{selected_db}}/alter" method="POST" class='pt-md-5'>
        <div class="inputs">
            <div class="row ">
                <div class="col">
                    <div class="form-group">
                        <label for="tableNames">Имя таблицы</label>
                        <select class="form-control" name="table_name" id="tableNames">
                            {% for table in table_names %}
                            <option>{{ table }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label for="tableNames">Условие</label>
                    <input type="text" class="form-control" name="condition">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Выполнить</button>
        </div>
    </form>
</div>
{% endblock %}