{% extends "layout.html" %}

{% block title %}ALTER TABLE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div>
    <form id="alter_table_form" action="/alter" method="POST">
        <div class="inputs">
            <div class="row ">
                <div class="form-group">
                    <label for="tableNames">Имя таблицы</label>
                    <select class="form-control" name="table_name" id="tableNames">
                        {% for table in table_names %}
                        <option>{{ table }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="condition" placeholder="Условие">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Выполнить</button>
        </div>
    </form>
</div>
{% endblock %}