{% extends "layout.html" %}

{% block title %}CREATE TABLE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class='pt-md-5'>
    <form id="create_table_form" action="/{{selected_db}}/create" method="POST">
        <div class="form-group">
            <label for="tableName">Имя таблицы</label>
            <input type="text" class="form-control" id="tableName" name="table_name" aria-describedby="emailHelp">
        </div>
        <div class="inputs">
            <div class="row pt-md-2">
                <div class="col">
                    <input type="text" class="form-control" name="column_names[0]" placeholder="Имя столбца">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="column_types[0]" placeholder="Тип столбца">
                </div>
            </div>
        </div>
        <input type="hidden" id="column_amount" name="column_amount" value="1">  
        <div class='pt-sm-2'>
            <button id="add_column_button" type="button" class="btn btn-link">Добавить столбец</button>
        </div>
        <div class='pt-sm-2'>
            <button type="submit" class="btn btn-primary">Создать таблицу</button>
        </div>
    </form>
</div>

{% endblock %}

