{% extends "layout.html" %}

{% block title %}CREATE TABLE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<div>
    <form id="create_table_form" action="/create" method="POST">
        <div class="form-group">
            <label for="tableName">Имя таблицы</label>
            <input type="text" class="form-control" id="tableName" name="table_name" aria-describedby="emailHelp">
        </div>
        <div class="inputs">
            <div class="row ">
                <div class="col">
                    <input type="text" class="form-control" name="column_names[0]" placeholder="Имя столбца">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="column_types[0]" placeholder="Тип столбца">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="column_names[1]" placeholder="Имя столбца">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="column_types[1]" placeholder="Тип столбца">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" name="column_names[2]" placeholder="Имя столбца">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="column_types[2]" placeholder="Тип столбца">
                </div>
            </div>
        </div>
        <input type="hidden" id="column_amount" name="column_amount" value="3">  
        <div>
            <button id="add_column_button" type="button" class="btn btn-small button-link">Добавить столбец</button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Создать таблицу</button>
        </div
        >
    </form>
</div>

{% endblock %}