{% extends "layout.html" %}

{% block title %}DELETE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div>
    <form id="alter_table_form" action="/delete" method="POST">
        <div class="inputs">
            <div class="row ">
                <div class="col">
                    <input type="text" class="form-control" name="table_name" placeholder="Имя таблицы">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="condition" placeholder="Условие">
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Выполнить запрос</button>
        </div>
    </form>
</div>
{% endblock %}