{% extends "layout.html" %}

{% block title %}DROP TABLE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class='pt-md-5'>
    <form id="drop_table_form" action="/drop" method="POST" class="m-b-20">
        <div class="form-group">
            <label for="tableNames">Имя таблицы</label>
            <select class="form-control" name="table_name" id="tableNames">
                {% for table in table_names %}
                <option>{{ table }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Удалить таблицу</button>
        </div>
    </form>
</div>
{% endblock %}