{% extends "layout.html" %}

{% block title %}DROP DATABASE{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class='pt-md-5'>
    <form id="drop_table_form" action="/drop_database" method="POST" class="m-b-20">
        <div class="form-group">
            <label>Имя базы данных</label>
            <select class="form-control" name="db_name" id="tableNames">
                {% for db in db_names %}
                <option>{{ db }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Удалить таблицу</button>
        </div>
    </form>
</div>
{% endblock %}