{% extends "layout.html" %}

{% block title %}Меню{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<h2 class="display-4 text-md-left">Лабораторная работа №5</h2>
<div class="jumbotron">
  <h2>Список таблиц в БД {{selected_db}}</h2>
  {% if table_names is defined and table_names|length > 0 %}
  <ul>
    {% for table_name in table_names %}
      <li>
        <strong>{{ table_name }}</strong>
        <ul>
          {% for column_name in table_columns[table_name] %}
            <li>
              <i>{{ column_name }}</i>
            </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
  </ul>
  {% else %}
    <h3>Пусто</h3>
  {% endif%}
</div>
{% endblock %}