{% extends "layout.html" %}

{% block title %}Меню{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="content">
    <div class="navigation text-center">
      <form action="#", method="POST">
        <button class="btn btn-link" type="submit">SELECT</button>
        <button class="btn btn-link" type="submit">INSERT</button>
        <button class="btn btn-link" type="submit">DELETE</button>
        <button class="btn btn-link" type="submit">CREATE</button>
        <button class="btn btn-link" type="submit">ALTER</button>
        <button class="btn btn-link" type="submit">DROP</button>
      </form>
    </div>
</div>
{% endblock %}