{% extends "layout.html" %}

{% block title %}INSERT{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<form action="/insert" method="POST" id="insert" class="m-b-20">
    <div class="form-group">
        <label for="tableNames">Имя таблицы</label>
        <select class="form-control" name="table_name" id="tableNames">
            {% for table in table_names %}
             <option>{{ table }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="columns">Колонки</label>
        <input type="text" class="form-control" name="column_names" id="columns" placeholder="Имена колонок"/>
        <small id="columnsHelp" class="form-text text-muted">Можно указать несколько разделяя запятой</small>
    </div>
    <div class="form-group">
        <label for="values">Значения</label>
        <input type="text" class="form-control" name="values" id="values">
        </input>
    </div>
    <button type="submit" class="btn btn-success p-t-10">Выполнить</button>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        tableColumnMap = {
            {% for table in table_columns %}
                {{table}}: [
                    {% for column_name in table_columns[table] %}
                        "{{column_name}}",
                    {% endfor %}
                ],
            {% endfor %}
        }

        $( "#tableNames").change(function () {
            let selectedTableName = $("#tableNames option:selected").first().text()
            let columns = tableColumnMap[selectedTableName];
            $("#columns").attr("value",columns.join())
        }).change()
    })

</script>

{% endblock %}