{% extends "layout.html" %}

{% block title %}SELECT{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<form action="/{{selected_db}}/select" method="POST" id="selectFrom" class='pt-md-5'>
    <div class="form-group">
        <label for="tableNames">Имя таблицы</label>
        <select class="form-control" name="table_name" id="tableNames">
            {% for table in table_names %}
             <option>{{ table }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="columns">Колонки</label>
        <input type="text" class="form-control" name="column_names" id="columns" value="*" placeholder="*"/>
        <small id="columnsHelp" class="form-text text-muted">Можно указать несколько разделяя запятой</small>
    </div>
    <div class="form-group">
        <label for="whereStatement">Условие</label>
        <input type="text" class="form-control" name="condition" id="whereStatement">
        </input>
    </div>
    <button type="submit" class="btn btn-success p-t-10">Выбрать</button>
</form>



{% if sql_query is defined %}
<br>
<h3>Запрос</h3>
<pre>{{sql_query}}</pre>
{% endif %}
{% if select_results is defined %}
<br>
    <table class="table table-stripped">
        <tbody>
            {% for row in select_results %}
             <tr>
                {% for column in row %}
                <td>{{ column }}</td>
                {% endfor %}
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


<script type="text/javascript">
    $(document).ready(function(){
        tableColumnMap = {
            {% for table in table_columns %}
                {{table}}: [
                    {% for column_name in table_columns[table] %}
                        "{{column_name}}",
                    {% endfor %}
                ],
            {% endfor %}
        }

        $( "#tableNames").change(function () {
            let selectedTableName = $("#tableNames option:selected").first().text()
            let columns = tableColumnMap[selectedTableName];
            $("#columns").attr("value",columns.join())
        }).change()
    })

</script>

{% endblock %}